<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <label >
                ID:
                <input type="text" name="" id="" v-model="id">
            </label>

            <label for="">NAME:
                <input type="text" v-model="name">
            </label>

            <input type="button" value="添加" v-on:click="add">
        </div>
        <!-- 在使用v-for时，指定唯一的字符串/数字类型 :key值 -->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox">{{item.id}}--{{item.name}}
        </p>
    </div>

    <script>
        var vm = new Vue({
            el:"#app",
            id:"",
            name:"",
            data:{
                list:[
                    {id:1,name:"李斯"},
                    {id:2,name:"嬴政"},
                    {id:3,name:"zhaogao"},
                    {id:4,name:"hanfei"},
                    {id:5,name:"xunzi"}
                ]
            },
            methods:{//添加的方法
                add(){//在尾添加用push,在头添加用unshift
                //    this.list.push({id:this.id,name:this.name}),
                   this.list.unshift({id:this.id,name:this.name})
                }
            }
        })
    </script>
</body>
</html>